.user {
  position: absolute;
  z-index: 1;
  bottom: 10px;
  top: 10px;
  left: 0px;
}

.user img {
  width: 20px;
  padding-left: 0px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.man {
  left: 10px;
}

.woman {
  left: 40px;
}
