.user {
  position: absolute;
  z-index: 1;
  bottom: 10px;
}

.user img {
  width: 20px;
  padding-left: 10px;
}

.user img {
  width: 20px;
  padding-left: 10px;
}

.woman {
  margin-left: -20px;
}

.woman {
  margin-left: 20px;
}
