h1,
p {
  font-family: Lato;
}

h1 {
  text-align: center;
}

body {
  background-color: #efefef;
}

#snake-and-board-game {
  position: relative;
  border: 1px solid #000;
}

.dice {
  border: 10px;
  padding: 10px;
  margin-bottom: 10px;
  display: inline-block;
  text-align: center;
}